<div class="container mt-5 select-bar">
  <div class="row">
    <div class="card col-8 mx-auto">
      <div class="card-body d-flex">
        <h3 class="card-title my-auto text-bold mr-3">
          編輯支出
        </h3>
        <h5 style="color: red;">* : 為必填選項</h5>
      </div>
      <form novalidate action="/expense/{{record._id}}?_method=PUT" method="POST" class="tape edit-form">
        {{!-- name --}}
        <div class="form-group w-100">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">項目* : </span>
            </div>
            <input type="text" class="form-control {{#unless validate.nameIsValid}}is-invalid{{/unless}}" name="name"
              id="rec-name" value="{{record.name}}" aria-label="Amount (to the nearest dollar)" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter a record name.
            </div>
          </div>
        </div>
        {{!-- category --}}
        <div class="form-row">
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">分類* : </span>
              </div>
              <select name="category"
                class="form-control {{#unless validate.categoryIsValid}} is-invalid{{/unless}} btn-outline-secondary"
                id='rec-category' style="cursor: pointer;">
                <option id="cat-default" class="placeholder" disabled {{#if init}}selected{{/if}} hidden>類別</option>
                {{#each categories }}
                <option value="{{this.category_en}}" {{#if (match ../record.category this.category)}}selected{{/if}}>
                  {{this.category}}</option>
                {{/each}}
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose a category.
              </div>
            </div>
          </div>
          {{!-- subcategory --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">子分類* : </span>
              </div>
              <select name="subcategory"
                class="form-control {{#unless validate.subcategoryIsValid}}is-invalid{{/unless}} btn-outline-secondary"
                id='rec-subcategory' style="cursor: pointer;">
                <option id="sub-default" class="placeholder" disabled {{#if subInit}}selected{{/if}} hidden>子類別</option>
                {{#each categories}}
                {{#each this.subcategory}}
                <option data-name="{{../this.category_en}}" value="{{@index}}" {{#if (match ../../record.subcategory
                  this)}}selected{{/if}} hidden>
                  {{this}}</option>
                {{/each}}
                {{/each}}
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose a subcategory.
              </div>
            </div>
          </div>
          {{!-- date --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">日期* : </span>
              </div>
              <input type="date" class="form-control {{#unless validate.dateIsValid}}is-invalid{{/unless}}" name="date"
                id="rec-date" min="2019-01-01" value="{{record.date}}" aria-label="Amount (to the nearest dollar)"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose a date.
              </div>
            </div>
          </div>
          {{!-- location --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">地點 : </span>
                </div>
                <input type="text" class="form-control {{#unless validate.locationIsValid}}is-invalid{{/unless}}"
                  name="location" id="rec-location" value="{{record.location}}"
                  aria-label="Amount (to the nearest dollar)">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
          </div>
          {{!-- amount --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">花費* : $</span>
              </div>
              <input type="number" class="form-control {{#unless validate.amountIsValid}}is-invalid{{/unless}}"
                name="amount" id="rec-amount" value="{{record.amount}}" aria-label="Amount (to the nearest dollar)"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter a cost.
              </div>
            </div>
          </div>
          {{!-- receipt --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">發票 : </span>
              </div>
              <input type="text" class="form-control {{#unless validate.receiptIsValid}}is-invalid{{/unless}}"
                name="receipt" id="rec-receipt" value="{{record.receipt}}" aria-label="Amount (to the nearest dollar)">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          {{!-- card footer --}}
          <div class="card-body d-flex justify-content-center">
            {{!-- delete icon --}}
            <button class="del-btn btn btn-danger btn-sm mr-3" type="button" data-id="{{record._id}}">Delete
              <i class="fas fa-trash-alt"></i></button>
            {{!-- back to home icon --}}
            <a href="/"><button class="btn btn btn-outline-primary mr-3" type="button">Back to Home Page <i
                  class="fas fa-undo"></i></button></a>
            {{!-- Update icon --}}
            <button id="edit-btn" class="btn btn-success" type="submit">Update <i class="fas fa-edit"></i></button>
          </div>

        </div>
      </form>
      <!-- Succeed display -->

      <div class="alert alert-info" role="alert" {{#if editSucceed}}{{else}}style="display:none" {{/if}}>
        <span class="mr-2">Update Record: </span> <code>{{#if editSucceed}}Succeed!{{else}}Fail!{{/if}}</code>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger" style="border-bottom: 0px;">
        <h5 class="modal-title text-light" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i> 刪除警告
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-center">
        <h2 class="text-white">你確定要刪除嗎!?</h2>
      </div>
      <div class="modal-footer bg-dark" style="border-top: 1px dashed gray;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Give Up <i class="fas fa-undo"></i></button>
        <form id="del-btn-link" action="/" method="GET" class="d-inline"><button type="submit"
            class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></button></form>
      </div>
    </div>
  </div>
</div>