<div class="container mt-5 select-bar">
  <form action="/" method="POST" class="form-group col-8 mx-auto d-flex">
    {{!-- month --}}
    <input type="month" id="month" class="d-inline-block w-50 mr-1" name="month" min="2020-01" max="2021-12"
      value="2021-06">
    {{!-- category --}}
    <select name="sortType" class="form-control btn-outline-primary d-inline-block w-50 ml-1" id='sortType'
      onchange="this.form.submit()" style="cursor: pointer;">
      <option class="placeholder" value="default" {{#if init}}selected{{/if}}>類別</option>
      {{#each categories }}
      <option value="{{this.category_en}}" {{#if (match ../sortType this.category_en)}}selected{{/if}}>{{this.category}}
      </option>
      {{/each}}
    </select>
  </form>
</div>

<div class="price-zone container mt-5 mx-auto col-8 px-4 py-2 d-flex justify-content-between">
  <div class="w-30 text-center mt-2" style="color: white;">
    <h2>總金額</h2>
  </div>
  <div class="w-70 total-amount text-center">$ {{calcSum record}} NT</div>
</div>

<div class="container mt-5 mx-auto d-flex justify-content-between">
  <div class="list-group col-8 mx-auto tape">

    {{#each record}}
    <a class="reset-link" data-toggle="collapse" href="#collapse{{this._id}}" aria-expanded="false"
      aria-controls="collapseDetails">
      <div class="list-group-item d-flex justify-content-between w-100">
        <div class="media">
          <span class="my-auto mr-3 text-center" style="vertical-align: middle;width:70px">{{{mapIcon ../categories
            this.category}}}</span>
          <div class="media-body ml-3">
            <h3>{{this.name}}</h3>
            <small>{{formDate this.date}}</small>
          </div>
        </div>
        <div class="d-inline my-auto text-center">
          <h2 class="amount">{{formAmount this.amount}}</h2>
        </div>
      </div>
    </a>

    <div class="collapse" id="collapse{{this._id}}">
      <div class="card">
        <div class="card-header">
          {{this.type}}明細
        </div>
        {{!-- name --}}
        <div class="card-body">
          <h3 class="card-title my-auto text-bold">{{this.name}}</h3>
        </div>
        <ul class="list-group list-group-flush detail">
          {{!-- category --}}
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">分類 : </span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                value="{{this.category}}" readonly>
            </div>
          </li>
          {{!-- subcategory --}}
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">子分類 : </span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                value="{{this.subcategory}}" readonly>
            </div>
          </li>
          {{!-- date --}}
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">日期 : </span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                value="{{formDate this.date}}" readonly>
            </div>
          </li>
          {{!-- location --}}
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">地點 : </span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                value="{{this.location}}" readonly>
            </div>
          </li>
          {{!-- merchant --}}
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">店家 : </span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                value="{{this.merchant}}" readonly>
            </div>
          </li>
          {{!-- amount --}}
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">花費 : $</span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                value="{{formAmount this.amount}}" readonly>
            </div>
          </li>
          {{!-- receipt --}}
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">發票 : </span>
              </div>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                value="{{this.receipt}}" readonly>
            </div>
          </li>
        </ul>
        {{!-- card footer --}}
        <div class="card-body d-flex justify-content-end">
          {{!-- edit icon --}}
          <a class="btn btn-success mr-3" href="/expense/{{ this._id }}/edit">Edit <i class="fas fa-edit"></i></a>
          <!-- delete icon -->
          <button class="del-btn btn btn-danger btn-sm" type="button" data-id="{{this._id}}">Delete
            <i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger" style="border-bottom: 0px;">
        <h5 class="modal-title text-light" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i> 刪除警告
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark text-center">
        <h2 class="text-white">你確定要刪除嗎!?</h2>
      </div>
      <div class="modal-footer bg-dark" style="border-top: 1px dashed gray;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Give Up <i class="fas fa-undo"></i></button>
        <form id="del-btn-link" action="/" method="GET" class="d-inline"><button type="submit"
            class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></button></form>
      </div>
    </div>
  </div>
</div>