<div class="container mt-5 select-bar">
  <div class="row">
    <div class="card col-8 mx-auto">
      <div class="card-body d-flex">
        <h3 class="card-title my-auto text-bold mr-3">
          新增支出
        </h3>
        <h5 style="color: red;">* : 為必填選項</h5>
      </div>
      <form action="/expense/new/create" method="POST">

        <div class="form-group w-100">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">項目* : </span>
            </div>
            <input type="text" class="form-control" name="name" id="rec-name" value="{{newRec.name}}"
              aria-label="Amount (to the nearest dollar)" required {{#if createSucceed}}disabled{{/if}}>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">分類* : </span>
              </div>
              <select name="category" class="form-control btn-outline-secondary" id='rec-category'
                style="cursor: pointer;" {{#if createSucceed}}disabled{{/if}}>
                <option id="cat-default" class="placeholder" disabled {{#if init}}selected{{/if}} hidden>類別</option>
                {{#each categories }}
                <option value="{{this.category_en}}" {{#if (match ../chosenCategory this.category)}}selected{{/if}}>
                  {{this.category}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">子分類* : </span>
              </div>
              <select name="subcategory" class="form-control btn-outline-secondary" id='rec-subcategory'
                style="cursor: pointer;" {{#if createSucceed}}disabled{{/if}}>
                <option id="sub-default" class="placeholder" disabled {{#if subInit}}selected{{/if}} hidden>子類別</option>
                {{#each categories}}
                {{#each this.subcategory}}
                <option data-name="{{../this.category_en}}" value="{{@index}}" {{#if (match ../../chosenSubCategory
                  this)}}selected{{/if}} hidden>
                  {{this}}</option>
                {{/each}}
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">日期* : </span>
              </div>
              <input type="date" class="form-control" name="date" id="rec-date" min="2019-01-01" value="{{newRec.date}}"
                aria-label="Amount (to the nearest dollar)" required {{#if createSucceed}}disabled{{/if}}>
            </div>
          </div>
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">地點 : </span>
                </div>
                <input type="text" class="form-control" name="location" id="rec-location" value="{{newRec.location}}"
                  aria-label="Amount (to the nearest dollar)" {{#if createSucceed}}disabled{{/if}}>
              </div>
            </div>
          </div>
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">花費* : $</span>
              </div>
              <input type="number" class="form-control" name="amount" id="rec-amount" value="{{newRec.amount}}"
                aria-label="Amount (to the nearest dollar)" required {{#if createSucceed}}disabled{{/if}}>
            </div>
          </div>
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">發票 : </span>
              </div>
              <input type="text" class="form-control" name="receipt" id="rec-receipt" value="{{newRec.receipt}}"
                aria-label="Amount (to the nearest dollar)" {{#if createSucceed}}disabled{{/if}}>
            </div>
          </div>

          <div class="card-body d-flex justify-content-center">
            <a href="/"><button class="btn btn btn-outline-primary mr-3" type="button">Back to Home Page</button></a>
            <button class="btn btn-success" type="submit">Create</button>
          </div>

        </div>
      </form>
      <!-- Add Succeed display -->
      {{#if createSucceed}}
      <div class="alert alert-info" role="alert">
        <span class="mr-2">Add Record: </span> <code>Succeed!</code>
      </div>
      {{/if}}
    </div>
  </div>
</div>