<div class="container mt-5 select-bar">
  <div class="row">
    <div class="card col-8 mx-auto">
      <div class="card-body d-flex">
        <h3 class="card-title my-auto text-bold mr-3">
          新增支出
        </h3>
        <h5 style="color: red;">* : 為必填選項</h5>
      </div>
      <form novalidate class="new-form" action="/expense/new" method="POST">
        {{!-- name --}}
        <div class="form-group w-100">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">項目* : </span>
            </div>
            <input type="text" class="form-control {{#unless validate.nameIsValid}}is-invalid{{/unless}}" name="name"
              id="rec-name" value="{{newRec.name}}" aria-label="Amount (to the nearest dollar)" {{#if
              createSucceed}}disabled{{/if}} required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter a record name.
            </div>
          </div>
        </div>
        {{!-- category --}}
        <div class="form-row">
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">分類* : </span>
              </div>
              <select name="category"
                class="form-control {{#unless validate.categoryIsValid}} is-invalid{{/unless}} btn-outline-secondary"
                id='rec-category' style="cursor: pointer;" {{#if createSucceed}}disabled{{/if}} required>
                <option id="cat-default" class="placeholder" disabled {{#if init}}selected{{/if}} value="default"
                  hidden>類別</option>
                {{#each categories }}
                <option value="{{this.category_en}}" {{#if (match ../chosenCategory this.category)}}selected{{/if}}>
                  {{this.category}}</option>
                {{/each}}
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose a category.
              </div>
            </div>
          </div>
          {{!-- subcategory --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">子分類* : </span>
              </div>
              <select name="subcategory"
                class="form-control {{#unless validate.subcategoryIsValid}}is-invalid{{/unless}} btn-outline-secondary"
                id='rec-subcategory' style="cursor: pointer;" {{#if createSucceed}}disabled{{/if}} required>
                <option id="sub-default" class="placeholder" disabled {{#if subInit}}selected{{/if}} value="default"
                  hidden>子類別</option>
                {{#each categories}}
                {{#each this.subcategory}}
                <option data-name="{{../this.category_en}}" value="{{@index}}" {{#if (match ../../chosenSubCategory
                  this)}}selected{{/if}} hidden>
                  {{this}}</option>
                {{/each}}
                {{/each}}
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose a subcategory.
              </div>
            </div>
          </div>
          {{!-- date --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">日期* : </span>
              </div>
              <input type="date" class="form-control {{#unless validate.dateIsValid}}is-invalid{{/unless}}" name="date"
                id="rec-date" min="2019-01-01" value="{{newRec.date}}" aria-label="Amount (to the nearest dollar)" {{#if
                createSucceed}}disabled{{/if}} required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose a date.
              </div>
            </div>
          </div>
          {{!-- location --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">地點 : </span>
                </div>
                <input type="text" class="form-control {{#unless validate.locationIsValid}}is-invalid{{/unless}}"
                  name="location" id="rec-location" value="{{newRec.location}}"
                  aria-label="Amount (to the nearest dollar)" {{#if createSucceed}}disabled{{/if}}>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
          </div>
          {{!-- merchant --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">店家 : </span>
                </div>
                <input type="text" class="form-control {{#unless validate.merchantIsValid}}is-invalid{{/unless}}"
                  name="merchant" id="rec-merchant" value="{{newRec.merchant}}"
                  aria-label="Amount (to the nearest dollar)" {{#if createSucceed}}disabled{{/if}}>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
          </div>
          {{!-- amount --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">花費* : $</span>
              </div>
              <input type="number" class="form-control {{#unless validate.amountIsValid}}is-invalid{{/unless}}"
                name="amount" id="rec-amount" value="{{newRec.amount}}" aria-label="Amount (to the nearest dollar)"
                {{#if createSucceed}}disabled{{/if}} required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter a cost.
              </div>
            </div>
          </div>
          {{!-- receipt --}}
          <div class="form-group w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">發票 : </span>
              </div>
              <input type="text" class="form-control {{#unless validate.receiptIsValid}}is-invalid{{/unless}}"
                id="rec-receipt" value="{{newRec.receipt}}" aria-label="Amount (to the nearest dollar)" {{#if
                createSucceed}}disabled{{/if}}>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          {{!-- card footer --}}
          <div class="card-body d-flex justify-content-center">
            {{!-- back to home icon --}}
            <a href="/"><button class="btn btn btn-outline-primary mr-3" type="button">Back to Home Page <i
                  class="fas fa-undo"></i></button></a>
            {{!-- create icon --}}
            <button id="create-btn" class="btn btn-success" type="submit" {{#if createSucceed}}disabled{{/if}}>Create <i
                class="fas fa-plus-circle"></i></button>
          </div>
        </div>
      </form>
      <!-- Succeed display -->
      {{#if createSucceed}}
      <div class="alert alert-info" role="alert">
        <span class="mr-2">Add Record: </span> <code>Succeed!</code>
      </div>
      {{/if}}
    </div>
  </div>
</div>